@model WebApplication3.Models.XuatKho

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>XuatKho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPhieuXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhieuXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHangHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHangHoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKhachHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.STT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
